@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&family=Lilita+One&display=swap');

:root {
  --Red: #FF1212;
  --DarkRed: #B51515;
  --DarkerRed: #951414;
  --SoftGreen: #C8E2D1;
  --Green: #1DA84C;
  --DarkGreen: #17883D;
  --Orange: #DE803C;
  --DarkOrange: #BE6C31;
  --Grey: #DBDBDB;
  --DarkGrey: #A5A5A5;
  --SoftPink: #E2A5B7;
  --Pink: #D392A5;
  --SoftBlue: #5D9AD3;
  --Blue: #4B83B7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-width: 350px;
  height: 100vh;
}
/* ---------------------------------------- */

button {
  color: white;
  border-radius: 6px;
}

.smallBtn {
  background-color: var(--Green);
  border: 1px solid var(--DarkGreen);
  font-family: 'Karla', sans-serif;
  padding: 0.3rem 1rem;
  font-size: 1.125rem;
}

.midBtn {
  background-color: var(--Green);
  border: 1px solid var(--DarkGreen);
  font-family: 'Karla', sans-serif;
  padding: 0.5rem 2rem;
  font-size: 1.75rem;
}

.largeBtn {
  background-color: var(--Green);
  border: 1px solid var(--DarkGreen);
  font-family: 'Lilita One', sans-serif;
  padding: 1rem 2.4rem;
  font-size: 1.75rem;
}

.product_reserveBtn {
  margin: 0;
}