@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&family=Lilita+One&display=swap');

:root {
  --Red: #FF1212;
  --DarkRed: #B51515;
  --DarkerRed: #951414;
  --SoftGreen: #C8E2D1;
  --Green: #1DA84C;
  --DarkGreen: #17883D;
  --Orange: #DE803C;
  --DarkOrange: #BE6C31;
  --Grey: #DBDBDB;
  --DarkGrey: #A5A5A5;
  --SoftPink: #E2A5B7;
  --Pink: #D392A5;
  --SoftBlue: #5D9AD3;
  --Blue: #4B83B7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px dotted lightcoral;
}

body {
  width: 100vw;
  min-width: 350px;
  height: 100vh;
}
/* --------------------------------------------------------------- */
/* -------------------SMALL PRODUCT CONTAINER--------------------- */

.productContainer_Small {
  display: flex;
  justify-content: space-between;
  min-width: 290px;
  max-width: 390px;

  .productContainer_pictureSection {
    margin-right: 1%;
    display: flex;
    align-items: center;
  }

  .productContainer_pictureSection img {
    max-height: 190px;
  }

  .productContainer_textInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .product_title, .product_text, .product_place, .product_status {
    margin-bottom: 2%;
  } 
}
/* --------------------------------------------------------------- */
/* ------------------LARGE PRODUCT CONTAINER---------------------- */

.productContainer_Large {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7%;
  background-color: var(--SoftGreen);

  .productContainer_pictureSection {
    margin-right: 1%;
    display: flex;
    justify-content: center;
    border-radius: 15px 15px 0 0;
    width: 100%;
    border-left: 1px solid var(--DarkGreen);
    border-top: 1px solid var(--DarkGreen);
    border-right: 1px solid var(--DarkGreen);
  }

  .productContainer_pictureSection img {
    min-height: 340px;
    width: 100%;
    border-radius: 15px 15px 0 0;
  }

  .productContainer_textInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 0 0 15px 15px ;
    padding: 6%;
    background-color: white;
    border-left: 1px solid var(--DarkGreen);
    border-bottom: 1px solid var(--DarkGreen);
    border-right: 1px solid var(--DarkGreen);
  }

  .product_title, .product_returnText, .product_place {
    margin-bottom: 5%;
  } 

  .product_title {

  }

  .product_status {

  }

  .product_status, .product_returnText {

  }

  .product_place {

  }
}

