:root {
  --white: #fff;
  --lighter: hsla(0, 0%, 100%, 0.4);  
  --light: hsla(0, 0%, 100%, 0.7);  
  --dark: hsla(0, 0%, 0%, 0.6);   
  --darker: hsla(0, 0%, 0%, 0.8);   
  --black: hsla(0, 0%, 0%, 0.9);
  --discount: hsl(0, 100%, 30%);
  --davygray: hsl(310, 3%, 34%);
  --lightblue: #8DA9C4;
  --darkblue: #526679;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* border: 1px dashed red; */
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--lightblue);
}

h1, h2, h3, h4 {
  font-family: sans-serif, Arial, Helvetica;
  font-weight: 600;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

a {
  color:hsl(0, 0%, 100%);
  text-decoration: none;
  color: var(--darker);
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  color: hsla(0, 0%, 100%, 0.658);
  /* text-shadow: -5px 5px 5px rgb(94, 94, 94); */
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.6;
}

.whiteText {
  color: var(--white);
}

.c-flex {
  display: flex;
  flex-direction: column;
}

.r-flex {
  display: flex;
}

.w-full {
  width: 100%;
}

.h-fit {
  height: fit-content;
}

/* STRUCTURE&BLOCK STYLING */
.wrapper {
 /*  max-width: 8000px; */
  min-width: 22rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  grid-template-areas: 
  "header header header header header header"
  ". navigation navigation navigation navigation ."
  "main main main main main main"
  "footer footer footer footer footer footer";
}

.wrapperRooms {
  /* max-width: 1200px; */
  min-width: 21rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  grid-template-areas: 
  "header header header header header header"
  ". navigation navigation navigation navigation ."
  "aside aside aside aside aside aside"
  "mainRooms mainRooms mainRooms mainRooms mainRooms mainRooms"
  "footer footer footer footer footer footer";
}

.header {
  grid-area: header;
  min-height: 10rem;
  height: 30rem;
  background-color: var(--lighter);
  background-image: url(../assets/photos/09-day.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation {
  grid-area: navigation;
  height: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.main {
  grid-area: main;
  min-height: 20rem;
  background-color: var(--lighter);
}

.aside {
  grid-area: aside;
  min-height: 14rem;
  background-color: var(--lighter);
  padding: 1rem;
}

.mainRoomsPage {
  grid-area: mainRooms;
  min-height: 20rem;
}

.footer {
  grid-area: footer;
  background-color: #60788d;
  color: var(--white);
  padding: 5%;
  justify-content: space-around;
}

/* HEADER ELEMENT STYLINGS */
.header__logo {
  height: 100%;
}
.header__title {
  width: 75%;
  padding: 5%;
  text-shadow: 1px 1px 5px rgb(228, 228, 228);
}


/* NAV ELEMENT STYLINGS */
.nav__link {
  padding: 0 10% 0 10%;
  margin: 0 5% 0 5%;
  /* height: 100%; */
  display: flex;
  align-items: center;
}

.nav__logo {
  height: 70%;
}

/* MAIN ELEMENT STYLINGS */
.main__welcome {
  align-items: center;
  border-top: 3px solid #83a5c4;
  text-align: center;
}

.main__welcomeTitle {
  margin: 4% 15% 2% 15%;
  color: var(--dark);
  text-shadow: 0px 5px 15px rgb(95, 95, 95);
}

.main__welcomeText {
  padding: 2% 15%;
  color: var(--dark);
}

.main__roomPreviews {
  justify-content: center;
  padding: 2% 0 4% 0;
  width: 100%;
  /* border-top: 1px solid #8DA9C4;
  box-shadow: 0px 2px 10px #83a5c4 inset; */
}

.main__room {
  background-color: var(--lighter);
  width: 25%;
  max-width: 500px;
  min-width: 300px;
  margin: 0 0.6% 0 0.6%;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 6px 10px #83a5c4;
}

.main__room img {
  width: 98%;
  border-radius: 15px 15px 0px 0px;
  margin: 1% 0% 6% 0%;
  box-shadow: 0px 6px 10px #83a5c4;
}

.main__room p {
  margin: 2%;
  padding: 1%;
  color: var(--dark);
}

.main__room .main__roomPrice {
  align-self: flex-end;
  color: var(--discount);
}

.main__linkRooms {
  background-color: var(--lightblue);
  width: 100%;
  font-size: 3rem;
  padding: 1%;
  text-align: center;
  border: 3px solid #83a5c4;
  text-shadow: 0px 3px 5px rgb(88, 88, 88);
  color: var(--dark);
}
/* MAIN ROOMS AND FACILITY PAGE */
.mainRooms {
  border-top: 3px solid #83a5c4;
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
}

.main__roomSelection {
  grid-area: 1 / 1 / span 1 / span 6;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  border-top: 3px solid #83a5c4;
}

.main__roomsPage {
  grid-area: 2 / 1 / auto / span 6;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__roomsPage ul {
  
}

.main__roomsPage li {
  list-style: none;
}

.main__roomFilter {
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 90%;
}

.main__roomFilter label {
  margin: 5% 0.5% 5% 10%;
}

.main__roomFilterbtn {
  background-color: #496f92;
  color: var(--white);
  border-radius: 10px;
  border: none;
  margin: 1% 0 1% 0;
  padding: 21px;
  box-shadow: 1px 1px 5px #3a5774;
  cursor: pointer;
}

.main__roomResetbtn {
  background-color: #496f92;
  color: var(--white);
  border-radius: 10px;
  border: none;
  margin: 1% 0 1% 5%;
  padding: 12px;
  box-shadow: 1px 1px 5px #3a5774;
  cursor: pointer;
}

.main__roomFilterbtn:hover, .main__roomResetbtn:hover {
  background-color: #5e8cb8;
  color: var(--white);
  border-radius: 10px;
  border: none;
  box-shadow: 1px 2px 5px #51779e;
}



/* MAIN BOOKING PAGE */
.main__bookingPageContainer {
  /* justify-content: center; */
  align-items: center;
  padding: 4%;
  border-top: 3px solid #83a5c4;
}

.main__formContainer {
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.main__bookingTitle {
  margin-bottom: 2%;
}

.main__roomBookingFlex {
  padding: 2%;
}

.formSection input, .formSection label {
  margin: 2%;
}

.main__form__room {
  padding: 2%;
  width: 100%;
  justify-content: center;
}

.main__form__room label, input {
  padding: 0.6%;
}

#reset, #submit {
  background-color: #496f92;
  color: var(--white);
  border-radius: 10px;
  border: none;
  margin: 1% 0 1% 0;
  padding: 21px;
  box-shadow: 1px 1px 5px #3a5774;
  cursor: pointer;
}

#reset:hover, #submit:hover {
  background-color: #5e8cb8;
  color: var(--white);
  border-radius: 10px;
  border: none;
  margin: 1% 0 1% 0;
  padding: 21px;
  box-shadow: 1px 2px 5px #51779e;
}

/* FOOTER ELEMENT STYLINGS */
.footer__title, .footer__text {
  margin-bottom: 3%;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.footer__socialMediaLinks {
  color: var(--white);
}