@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&family=Lilita+One&display=swap');
/* -------------------------------------------------------------------- */
/* -------------------------UNSPECIFIC STYLING------------------------- */
:root {
  --Red: #FF1212;
  --DarkRed: #B51515;
  --DarkerRed: #951414;

  --SoftGreen: #C8E2D1;
  --Green: #1DA84C;
  --DarkGreen: #17883D;

  --Orange: #DE803C;
  --DarkOrange: #BE6C31;

  --Grey: #DBDBDB;
  --DarkGrey: #A5A5A5;

  --SoftPink: #E2A5B7;
  --Pink: #D392A5;

  --SoftBlue: #5D9AD3;
  --Blue: #4B83B7;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dotted lightcoral; */
}

body {
  width: 100vw;
  min-width: 350px;
  background-color: var(--SoftGreen);
  padding: 6%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: auto;
}

.header {
  grid-column: 1 / span 8;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  grid-column: 1 / span 8;
  display: flex;
  justify-content: center;
}

.main {
  grid-column: 1 / span 8;
  border: 1px solid var(--DarkGreen);
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4%;
  height: fit-content;
}

.noBottomBorder {
  border-bottom: none;
}

.greyed {
  background-color: var(--Grey);
}
/* -------------------------------------------------------------------- */
/* -----------------------------LOGIN PAGE----------------------------- */

.loginPage_titleSection {

  .loginPage_title {
    height: fit-content;
    margin-bottom: 10%;
  }
}

.loginSection {

  input, button {
    margin: 2%;
  }

  a {
    margin-bottom: 5%;
    width: fit-content;
    align-self: center;
  }

  .loginSection_inputFields {
    padding: 1rem;
    font-size: 1.125rem;
    border-radius: 6px;
  }
}
/* -------------------------------------------------------------------- */
/* --------------------------CREATE ACC PAGE--------------------------- */
.createAccPage_title {
  margin: 4% 0% 2% 0%;
}

.createAccPage_subtitle {
  margin: 0% 0% 4% 0%;
}

.createAccSection {

  input {
    margin-bottom: 4%;
  }
}

/* -------------------------------------------------------------------- */
/* -----------------------------START PAGE----------------------------- */
.startPage_titleSection {
  margin-bottom: 2%;
}

.startPage_btnSection {

  input, button {
    margin: 2%;
  }
}

/* -------------------------------------------------------------------- */
/* --------------------------SEARCH TOOL PAGE-------------------------- */
.searchToolPage_title {
  margin: 8% 0%;
}

/* -------------------------------------------------------------------- */
/* --------------------------BOOK TOOL PAGE---------------------------- */
.bookToolsPage_title {
  margin-top: 8%;
}

/* -------------------------------------------------------------------- */
/* --------------------OVERVIEW BOOKED&LEND PAGE----------------------- */
.overviewSection {
  border-radius: 0 0 15px 15px;
  border-top: none;
}

.borrowPage_title, .lendPage_title {
  margin-top: 6%;
  margin-bottom: 10%;
}

/* -------------------------------------------------------------------- */
/* ---------------------------LEND TOOLS PAGE-------------------------- */
.lendToolsContainer {

  input, textarea, select {
    margin-bottom: 4%;
  }
}

